<template>
  <div class="alert">
    <div v-if="info.type" :class="info.type">
      <span class="closebtn" @click="info.type = null"
        >&times;</span
      >
      {{ info.msg }}
    </div>
  </div>
</template>

<script>
export default {
  props: ["info"],
  methods: {
    hideAlert() {
      setTimeout(() => {
        this.info.type = null;
      }, 5000)
    }
  },
  mounted() {
    this.hideAlert();
  },
  updated() {
    this.hideAlert();
  }
};
</script>

<style scoped>
.alert div {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 30%;
  right: 30%;
  max-width: 60%;
  border-radius: 12px;
  white-space: pre-wrap;
}

.error {
  padding: 20px;
  background-color: #91221a;
  color: white;
}

.success {
  padding: 20px;
  background-color: rgb(4, 82, 4);
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
</style>
