<template>
  <section>
    <form @submit.prevent="validateEnteredData">
      <div class="form-control">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" v-model.trim="inputName" />
        <p class="invalid" v-if="showError && !inputName">
          Please enter name
        </p>
      </div>
      <div class="form-control">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          v-model.trim="inputEmail"
        />
        <p class="invalid" v-if="showError && !inputEmail">
          Please enter email
        </p>
      </div>
      <div class="form-control">
        <label for="Subscription">Subscription</label>
        <select id="subscription" name="subscription" v-model="subscription">
          <option v-for="(name, code) in subsOptions" :key="code" :value="code"
            >{{ name }}
          </option>
        </select>
        <p class="invalid" v-if="showError && !subscription">
          Please select subscription
        </p>
      </div>
      <div class="submit">
        <button type="submit">Create Record</button>
      </div>
    </form>
  </section>
</template>

<script>
import axios from "axios";
import utils from "../utils";

export default {
  props: ["subsOptions"],
  data() {
    return {
      inputName: null,
      inputEmail: null,
      subscription: null,
      showError: false,
    };
  },
  methods: {
    clearData() {
      this.inputName = null;
      this.inputEmail = null;
      this.subscription = null;
    },
    validateEnteredData() {
      this.showError = false;

      if (!(this.inputName && this.inputEmail && this.subscription)) {
        this.showError = true;
      }

      if (!this.showError) {
        this.createRecord();
      }
    },
    async createRecord() {
      try {
        await axios({
          method: "POST",
          url: "/customer_records/subscriptions/",
          data: {
            name: this.inputName,
            email: this.inputEmail,
            subscription: this.subscription,
          },
        });
        this.clearData();
        this.$emit("refreshList");
        this.$emit("raiseFormAlert", "success", "Record created");
      } catch (err) {
        var msg;
        if (err.response.status == 400) {
          msg = utils.processErrorMessage(err.response.data);
        } else {
          msg = utils.getErrorMessage(err);
        }
        this.$emit("raiseFormAlert", "error", msg);
        this.clearData();
      }
    },
  },
};
</script>

<style scoped>
form {
  margin: 2rem auto;
  max-width: 40rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 2rem;
  background-color: #ffffff;
}

.form-control {
  margin: 0.5rem 0;
}

.invalid {
  color: red;
}

.success {
  color: green;
  font-weight: bold;
}

label {
  font-weight: bold;
}

input,
select {
  display: block;
  width: 100%;
  font: inherit;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

select {
  width: 20%;
  height: 1.5rem;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  width: auto;
  margin-right: 1rem;
}
</style>

<style>
button {
  font: inherit;
  border: 1px solid #0076bb;
  background-color: #0076bb;
  color: white;
  cursor: pointer;
  padding: 0.75rem 2rem;
  border-radius: 30px;
  margin-top: 2rem;
}

button:hover,
button:active {
  border-color: #002350;
  background-color: #002350;
}
</style>
