<template>
  <section>
    <table v-if="subscriptionLists">
      <thead>
        <th style="width: 40%">Name</th>
        <th style="width: 40%">Email</th>
        <th style="width: 20%">Subscription</th>
      </thead>
      <tr v-for="record in subscriptionLists" :key="record.id">
        <td>{{ record.name }}</td>
        <td>{{ record.email }}</td>
        <td style="text-align: center">
          {{ subscriptionName(record.subscription) }}
        </td>
      </tr>
    </table>

    <div>
      <button v-if="prev" class="left" @click="changePage(prev)">
        Previous
      </button>
      <button v-if="next" class="right" @click="changePage(next)">Next</button>
    </div>
  </section>
</template>

<script>
import axios from "axios";
import utils from "../utils";

export default {
  props: ["subsOptions"],
  data() {
    return {
      url: "/customer_records/subscriptions/",
      next: null,
      prev: null,
      subscriptionLists: null,
      error: null,
    };
  },
  methods: {
    subscriptionName(code) {
      return this.subsOptions[code];
    },
    async getRecords() {
      try {
        const response = await axios.get(this.url);
        if (response.data.results.length) {
          this.subscriptionLists = response.data.results;
          this.next = response.data.next;
          this.prev = response.data.previous;
        }
      } catch (err) {
        const msg = utils.getErrorMessage(err);
        this.$emit("raiseListAlert", "error", msg);
      }
    },
    changePage(urlPage) {
      this.url = urlPage;
      this.getRecords();
    },
  },
  mounted() {
    this.getRecords();
  },
};
</script>

<style scoped>
section {
  margin: 2rem auto;
  max-width: 60%;
  border-radius: 12px;
}

table {
  align-content: center; 
  width: 100%;
}

thead {
  color: white;
  font-weight: bold;
  background: #0076bb;
}

th {
  padding: 0.5rem;
  border: none;
}
td {
  padding: 0.5rem 1rem;
  background: #f0f5f8;
}

button {
  border-radius: 5px;
  padding: 0.2rem 2rem;
  margin-top: 1rem;
}

button.left {
  float: left;
}

button.right {
  float: right;
}
</style>
