<template>
  <div>
    <h1>Customer Subscription Record</h1>
    <p v-if="!subsChoices">Failed to load data</p>
    <customer-form
      v-if="subsChoices"
      :subsOptions="subsChoices"
      @refreshList="renderList"
      @raiseFormAlert="createAlert"
    ></customer-form>
    <customer-list
      v-if="subsChoices"
      :subsOptions="subsChoices"
      :key="listKey"
      @raiseListAlert="createAlert"
    ></customer-list>
    <alert-box v-if="alertInfo.msg" :info="alertInfo"></alert-box>
  </div>
</template>

<script>
import axios from "axios";
import CustomerForm from "./components/CustomerForm.vue";
import CustomerList from "./components/CustomerList.vue";
import AlertBox from "./components/AlertBox.vue";

export default {
  components: {
    CustomerForm,
    CustomerList,
    AlertBox,
  },
  data() {
    return {
      subsChoices: null,
      listKey: false,
      alertInfo: { type: null, msg: null },
    };
  },
  methods: {
    renderList() {
      this.listKey = !this.listKey;
    },
    async getSubscriptionChoices() {
      try {
        const response = await axios.get(
          "/customer_records/subscription_choices/"
        );
        this.subsChoices = response.data;
      } catch (err) {
        const type = "error";
        const msg = "Failed to Load Subscription Options";
        this.createAlert(type, msg);
      }
    },
    createAlert(type, msg) {
      this.alertInfo.type = type;
      this.alertInfo.msg = msg;
    }
  },
  mounted() {
    this.getSubscriptionChoices();
  },
};
</script>

<style>
body,
html {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  background-color: #0076bb;
  color: white;
  padding: 1rem;
}

h2 {
  font-size: 1rem;
  margin: 0.5rem 0;
  text-align: center;
}
</style>
